body *{
  box-sizing: border-box;
}

body{
  background-color: #a3c5db;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #252b2d
}

h1{
  font-size: xx-large;
  color: #416470;
}

h2{
  font-size: larger;
}

h3{
  font-size: medium;
}

p, ol, ul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #49565A
}

* button {
  background-color: #91e6f1;
  border: solid #43acc4 3px;
  color: #49565A;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

* button:hover{
  background-color: #f1f1b7;
  color: #232b2e;
}

section {
  background-color: #f1f091;
  padding: 5px;
  border: 15px #43acc4 ridge;
  margin: 30px 10px;
}

#dessert {
  width: 30% ;
}

#info {
  width: 66%;
}

#info, #dessert{
  float: left;
  display: inline;
  align-items: center;
  margin: 30 px 10px auto;
}

h1, h3{
  border: 15px #43acc4 ridge;
  margin: 20px 10px;
  padding: 30px;
  text-align: center;
  background-color: #e9eced
}

h2{
  border:5px solid #43acc4;
  border-bottom:0px;
  background-color: #e9eced;
  padding: 10px;
  text-align: center;
}

p, ol, ul{
  border:5px solid #3894A8;
  border-top:0px;
  background-color: #e9eced;
  padding: 10px;
  text-align: center;
}

ol, ul {
  text-align: left;
  line-height: 2em;
  word-spacing: .2em;

}

ol{
  list-style-type:decimal;
  list-style-position: inside;
  line-height: 3em;
}

div {
  width: 100%;
  height: 75%;
  overflow: hidden;
  border:5px solid #3894A8;
}

div img {
  width: 100%;
  margin-top: -20%;
  margin-bottom: -10%;
}

footer {
  clear: left;
}